[
    % Ref https://github.com/erlang-lager/lager for documentation
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]},

    % Ref https://github.com/lpgauth/statsderl/tree/0.5.2#environment-variables
    {statsderl, [
        {hostname, "localhost"},
        {port, 8125},
        {base_key, hostname}
    ]}
].
